body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #fbe8d3;
  font-weight: normal;
}

.top-container {
  background-color: #fbe8d3;
  position: relative;
  line-height: 2;
}

.bottom-container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #283c63;
}

h1 {
  font-size: 4.375rem;
  margin: 50px auto 0 auto;
  color: #f85f73;
  font-family: 'Prata', serif;
  font-weight: normal;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #283c63;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #283c63;
}

.ending {
  color: white;
}

.project-tile {
  border-radius: 15px;
  margin-top: 80px;
  margin-bottom: 80px;
  width:40em;
  height:auto;
}

.top-container img.project-tile:hover {
  width: 50em;
  height: auto;
}

.footer-link {
  color: #f85f73;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: normal;
}

.design {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 700px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 600px;
  bottom: 3100px;
}
